.container__call {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #EBEBEB;
}

.container__call h1 {
    margin:43px;
}

.call__input1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    color:#FFF;
    font-size: 42px;
    background-color: #17a2b8;
    border-radius: 7px;
    text-transform: uppercase;
    box-shadow: 5px 5px 13px #666, -5px -5px 13px #FFF;
    transition:all ease 0.4s;
    cursor: pointer;
}
.call__input1:hover {
    background:#11899c;
}
.call__input2:hover {
    background:#065706;
}
.call__input2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    color:#FFF;
    margin-top:30px;
    font-size: 42px;
    background-color: green;
    border-radius: 7px;
    text-transform: uppercase;
    box-shadow: 5px 5px 13px #666, -5px -5px 13px #FFF;
    transition:all ease 0.4s;
    cursor: pointer;
}