#sidebar {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color:#FFF;
    /* background: #5d78ff; */
    background: #006494;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f4f5;
    margin-bottom: 30px;
}

.sidebar__img {
    display: flex;
    align-items: center;
}

.sidebar__title > div > img {
    width:55px;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar__title > div > h1 {
    font-size: 18px;
    display: inline;
    margin-left: 15px;
}

.sidebar__title > i {
    font-size: 18px;
    display: none;
}

.sidebar__menu > h2 {
    /* color: #13293D; */
    color: #FFF;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: 700;
    border-bottom:1px solid rgba(225,225,225,0.2);
}

.sidebar__link {
    color: #f3f4f5;
    padding:10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.active_menu_link {
    background: rgba(225,225,225,0.2);
    color: #FFF;
}
.active_menu_link a {
    color: #FFF !important;
}

.sidebar__link > a {
    text-decoration: none;
    color: #E8F1F2;
    font-weight:700;
}

.sidebar__link a:focus {
    padding:7px;
    /* background: #646a8c; */
    /* background: #13293D; */
    background: rgba(225,225,225,0.2);
    border-radius: 3px;
}

.sidebar__link > i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar__logout {
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
    /* color: #E8F1F2; */
    border-top:1px solid rgba(225,225,225,0.2);
}

.sidebar__logout > a {
    text-decoration: none;
    color: #e56061;
    /* color: #E8F1F2; */
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar__logout > i {
    margin-right: 10px;
    font-size: 18px; 
}

.sidebar-responsive {
    display: inline !important;
    
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}

.copy__right {
    width: 100%;
    text-align: center;
    font-size:12px;
}

@media only screen and (max-width: 978px) {
    #sidebar {
        display: none;
    }
    .sidebar__title > i {
        display: inline;
    }
}