.container__videol {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding:20px 0; */
    width: 100%;
    height: 100vh;
    background: #EBEBEB;

}

.videol__wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom:120px;
}

.videol__input1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 400px;
    color:#FFF;
    margin-right: 20px;
    background-color: #000;
    border-radius: 7px;
    
    transition:all ease 0.4s;
}

.videol__input2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 400px;
    margin-right: 20px;
   
    background-color: #000;
    border-radius: 7px;
    
    transition:all ease 0.4s;
}

.videol__input3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 400px;
    margin-right: 20px;
   
    background-color: #000;
    border-radius: 7px;
    
    transition:all ease 0.4s;
}

.btn__videol {
    width: 100%;
    text-align: center;
}
.btn__videol svg {
    font-size:62px;
    padding: 32px;
}
.btn__videol #mute {
    color:#FFF;
    margin-right:32px;
    background: #1d9eb5;
    border-radius:50%;
    cursor: pointer;
    transition:all ease 0.4s;
}
.btn__videol #close {
    color:#FFF;
    background:#b5251d;
    border-radius:50%;
    cursor: pointer;
    transition:all ease 0.4s;
}

.btn__videol #mute:hover {
    background:#17889c;
}
.btn__videol #close:hover {
    background:#911c16;
}