.main__title {
    display: flex;
    justify-content: space-between;
}
.btn-create button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size:14px;
    font-weight: 700;
    padding:1px 10px;
    color:#FFF;
    background: #68bd7c;

    cursor: pointer;
    border:0;
    border-radius:5px;

    transition:all ease 0.4s;
}

.btn-create button:hover {
    background: #56b36c;
}

.btn-create button svg {
    margin-left:5px;
}

.reports-area {
    padding: 20px;
    background:#FFF;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #FFF;
    border-radius:8px;
}